/*
All classes used by this module use the prefix "mmm-pth-" (MMM-PublicTransportHafas) to separate
them from the MagicMirror² core system and other modules.
 */

.mmm-pth-wrapper {
  position: relative;
}

.mmm-pth-table {
  border-collapse: collapse;
  border-spacing: 1px;
  display: table;
}

.mmm-pth-table > thead {
  text-align: left;
}

.mmm-pth-table td {
  vertical-align: middle;
}

.mmm-pth-time-cell {
  text-align: left;
}

.mmm-pth-canceled {
  text-decoration: line-through;
}

.mmm-pth-direction-cell {
  max-width: 24ch;
  min-width: 16ch;
  overflow: hidden;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mmm-pth-platform-cell {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}

.mmm-pth-ruler-cell {
  border-bottom: 1px dotted #666;
  border-spacing: 10px;
  line-height: 0;
}

.mmm-pth-text-left {
  text-align: left;
}

.mmm-pth-text-right {
  text-align: right;
}

.mmm-pth-text-center {
  text-align: center;
}

.mmm-pth-delay {
  padding: 0 15px 0 5px;
  font-size: 0.8em;
  font-weight: bolder;
}

.mmm-pth-has-delay {
  color: red;
}

.mmm-pth-to-early {
  color: green;
}

/* Marquee for the destination field */
.mmm-pth-marquee {
  box-sizing: border-box;
  margin: 0 auto;
  overflow: hidden;
  text-align: left;
  white-space: nowrap;
}

.mmm-pth-marquee span {
  animation: mmm-pth-marquee 3s linear infinite alternate;
  display: inline-block;
  white-space: nowrap;
}

@keyframes mmm-pth-marquee {
  /* Two keyframe positions each to generate a little delay between animations. */
  0%,
  30% {
    transform3d: translate(0%, 0, 0);
  }

  95%,
  100% {
    transform3d: translate(-35%, 0, 0);
  }
}

/* Marquee for the warinig remarks field */
.mmm-pth-warning-remarks {
  white-space: nowrap;
  overflow: hidden;
  font-size: 0.8em;
  width: 80ch;
  display: inline-block;
}

.mmm-pth-warning-remarks span {
  font-weight: 400;
  animation: mmm-pth-warning-remarks 600s linear infinite;
  display: inline-block;
  padding-left: 20%;
}

@keyframes mmm-pth-warning-remarks {
  0% {
    transform3d: translateX(0, 0, 0);
  }

  100% {
    transform3d: translateX(-100%, 0, 0);
  }
}

/* Styles for line symbols. */
.mmm-pth-sign {
  background-color: #333;
  color: white;
  min-width: 2.5ch;
  font-size: 0.9em;
  font-weight: bold;
  margin: 0.1rem auto;
  padding: 0.2rem;
  position: relative;
  text-align: center;
  width: max-content;
}

.mmm-pth-bwl-line-sign {
  background-color: #333;
  color: white;
  margin-right: 0.3em;
}

/* Default properties for Deutsche Bahn products. */
.mmm-pth-db-standard {
  border-radius: 0.25rem;
  font-size: 0.8em;
}

.ice,
.ic {
  background-color: white;
  border-bottom: 4px #f01414 solid;
  color: #f01414;
}

.rb,
.re {
  background-color: rgb(31 131 50);
  border: 0.5px white solid;
}

.s {
  background-color: rgb(0 111 53);
  border: 0.5px white solid;
}

/* Default properties for busses (general) and obusses (SVV) */
.bus,
.obus {
  border-radius: 1rem;
  background-color: rgb(122 32 106);
}

/* Default properties for "Rufbusse" */
.ruf::before {
  content: "☎ ";
  font-size: 0.8em;
}

.ruf {
  border-radius: 1rem;
  background-color: rgb(122 32 106);
}

/* Default properties for trams */
.str,
.stb {
  background-color: rgb(255 0 0);
}

/* Default properties for subways */
.u {
  background-color: rgb(0 101 173);
}

.mmm-pth-ice-with-product-name::before {
  content: "ICE ";
}

.mmm-pth-ic-with-product-name::before {
  content: "IC ";
}

.mmm-pth-re-with-product-name::before {
  content: "RE ";
}

.mmm-pth-rb-with-product-name::before {
  content: "RB ";
}

.mmm-pth-s-with-product-name::before {
  content: "S";
}

.mmm-pth-u-with-product-name::before {
  content: "U";
}
